# Configuration file

general {
    I:EntityArchaeologist=1
    I:EntityBat=1
    I:EntityChemthrowerShot=1
    I:EntityCitizen=1
    I:EntityCreeper=1
    I:EntityFishCod=1
    I:EntitySheep=1
    I:EntitySkeleton=1
    I:EntitySlime=1
    I:EntitySpider=1
    I:EntityStray=1
    I:EntityTFMobileFirefly=1
    I:EntityTippedArrow=1
    I:EntityZombie=1
    I:EntityZombieVillager=1

    # Update Interval time for all burning EntityLiving, Arrows and Fireballs in milliseconds. The lower the better and costlier.
    I:"update Interval"=1000
}


